/* ページ全体の基本のスタイルを */
/* このファイルに記述します。 */
/* bodyや.container、歌詞テキストに関するスタイル、 */
/* その他の要素に関するスタイルを含みます。 */

/* 基本のリセットスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 全体のボディスタイル */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 60px; /* 固定ヘッダーの高さ分のスペース */
}

/* コンテナの基本スタイル */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* 歌詞エリア */
#lyricsContainer {
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 歌詞のスタイル */
#lyrics {
    font-size: 1.1em;
    line-height: 1.6;
}

/* 歌詞のタグ別スタイル */
.aespa {
    color: black;
}

.with {
    color: black;
    text-shadow: 
        1px 1px 0 #c3dcfa,   /* 最初の影 - 薄い青 */
        2px 2px 0 #dcaeff,   /* 中間の影 - 淡い紫 */
        3px 3px 0 #d59fd0;   /* 最後の影 - 濃い紫 */
}


.MY {
    background: linear-gradient(to right, #c3dcfa, #dcaeff, #d59fd0); /* 中間色 #dcaeff を追加 */
    -webkit-background-clip: text;
    color: transparent;
}

/* 翻訳エリアのスタイル */
.translation.jp,
.translation.en {
    color: gray;
    font-size: 0.9em;
    padding-top: 10px;
}

/* iframe スタイル */
iframe {
    border: none;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.jp, .en, .kr {
    display: none;
}

/* 翻訳テキストのスタイル */
jp {
    font-size: 0.8em;
    color: darkgray; /* 日本語翻訳の文字色 */
    padding-top: 4px;
    display: inline;
}

en {
    font-size: 0.8em;
    color: darkgray; /* 英語翻訳の文字色 */
    padding-top: 4px;
    display: inline;
}

kr {
    font-size: 0.8em;
    color: darkgray; /* 韓国語翻訳の文字色 */
    padding-top: 4px;
    display: inline;
}