/* デフォルトのスタイルをリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基本のボディスタイル */
body {
    font-family: Arial, sans-serif;
}

/* ヘッダーのスタイル */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* ロゴのスタイル */
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger-menu .bar {
    height: 3px;
    background-color: white;
}

/* サイドメニューのスタイル */
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease-in-out;
    padding: 20px;
}

.side-menu ul {
    list-style: none;
}

.side-menu ul li {
    margin: 15px 0;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* メニューがアクティブ（表示）になったとき */
.side-menu.active {
    right: 0;
}

/* ナビゲーションメニューのスタイル（レスポンシブデザイン用） */
.nav-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding: 10px;
    text-align: right;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

/* メニューが表示されたとき */
.nav-menu.active {
    display: block;
}

/* 歌詞表示エリアのスタイル */
#lyricsContainer {
    height: 300px; /* 必要に応じて調整 */
    overflow-y: auto; /* 縦方向のスクロールを有効にする */
    border: 1px solid #ddd; /* オプションで境界線を追加 */
}

/* 歌詞のスタイル */
#lyrics {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    white-space: pre-wrap; /* ホワイトスペースのフォーマットを保持 */
}

/* 特定のタグ付き歌詞のスタイル */
.aespa {
    color: black;
}

.MY {
    background: linear-gradient(to right, #f0f, #0ff);
    -webkit-background-clip: text;
    color: transparent;
}

.with {
    color: black;
    position: relative;
}

.with::after {
    content: attr(data-shadow);
    position: absolute;
    top: 0;
    left: 2px; /* テキストシャドウのオフセットを調整 */
    background: linear-gradient(to right, #f0f, #0ff);
    -webkit-background-clip: text;
    color: transparent;
}

/* 翻訳のスタイル */
.translation.jp {
    font-size: 12px;
    color: gray;
}

.translation.en {
    font-size: 12px;
    color: gray;
}

/* iframe のスタイル設定 */
iframe {
    border: none; /* frameBorder を代替するために border を設定 */
}